@font-face {
	font-family: 'Montserrat';
	font-display: swap;
	src: local('Montserrat'), url(https://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}

html, body {
	height: 100vh;
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;

	margin: 0 auto;
	max-width: 50em;
	padding: 1em .62em 0 .62em;
	font: 1em/1.62 'Montserrat', sans-serif;
}

a {
	color: black;
	transition: .2s;
}

a:hover {
	color: #4169e1;
}

h1, h2, h3 {
	line-height: 1.2;
}

svg {
	background-color: transparent;
	stroke-linecap: round;
}

button {
	background-color: #fff0;
	border-radius: 2px;
	border-width: 0;
	padding: .3em .62em;
	font-size: 1em;
}

#landing-page {
	height: 90vh;
	position: relative;
	z-index: 0;
}

#name {
	position: absolute;
	bottom: 0;
	padding: .3em;
	left: -.3em;
	background-color: #ffeb3b;
}

#top {
	display: inline-block;
	background-color: #ffeb3b;
	padding: .3em;
	position: relative;
	left: -.3em;
}

#content {
	flex: 1 0 auto;
}

#scroll-to-top {
	float: right;
}

footer {
	font-size: 0.8em;
	flex-shrink: 0;
}

footer a, footer text {
	color: white;
}

footer text {
	margin: 0 .62em;
}

#nav-links > ul {
	list-style-type: none;
}

footer > ul {
	list-style-type: none;
	margin-top: 1.62em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	text-align: end;
	background-color: black;
	padding-right: .62rem;
	position: relative;
	left: .62rem;
}

footer > ul > li {
	color: white;
}

#nav-toggle {
	top: 1.1em;
	right: .8em;
}

#nav-back {
	top: 1.1em;
	left: .8em;
}

#nav-toggle, #nav-back {
	position: fixed;
	z-index: 2;
}

#nav-toggle > svg, #nav-back > svg {
	stroke-width: 30;
	transition: .8s;
	padding: .2rem;
}

#nav-toggle > svg > line, #nav-back > svg > line {
	stroke: #000;
	stroke-width: 2px;
	transition: .8s;
}

#nav-toggle.active > svg, #nav-back.active > svg {
	background-color: #fff0;
}

#nav-toggle.active > svg > line, #nav-back.active > svg > line {
	stroke: #fff;
}

#nav-links {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: #000b;
	z-index: 1;
	padding: 3em;
	transition: .3s;

}

#nav-links a{
	color: #beefed;
}

#nav-links a:hover {
	color: white;
}

#nav-links.hide {
	padding: 0;
	visibility: hidden;
	top: -100vh;
	left: 100vw;
}

#links {
	position: absolute;
	bottom: -5vh;
	right: 0;
}

#social-links {
}

#links > ul > li, #social-links > ul > li {
	display: inline;
	margin: 0 .62em;
}

pre {
	overflow: auto;
	padding-left: 1em;
	border-left: 4px solid black;
}

div.highlight td:first-child > pre, div.highlight > pre {
	border-left: 4px solid black !important;
}

div.highlight pre {
	border-left: none;
	overflow: unset;
}

code {
	font-size: .8em;
}

code > .line {
	opacity: 0;
	animation-fill-mode: forwards;
	animation-name: Show;
	animation-timing-function: steps(1);
	animation-duration: 1s;
}

code > .line:nth-child(1) {
	animation-delay: 0s;
}

code > .line:nth-child(2) {
	animation-delay: 1s;
}

code > .line:nth-child(3) {
	animation-delay: 3s;
}

@keyframes Show {
	0% {opacity: 0}
	100% {opacity: 1}
}

article.post-single > .post-description {
	margin-bottom: 2em;
}

.post-description {
	font-size: .8em;
}

.post-description > hr {
	margin: 0;
}

.post-description > .tagline {
	margin-bottom: .2em;
}

hr {
	border: .5px solid #ccc;
}

.post-single > h1, .post-list > h1 {
	margin-top: 2em;
}

.post-list-title {
	margin-bottom: .4em;
	display: inline-block;
}

hr + .post {
	margin-top: 1.8em;
}

.post {
	margin: 1.2em 0;
}

#content-404 {
	flex: 1 0 auto;
	height: 45ex;
	overflow: hidden;
	line-height: 1.5em;
}

#content-404 > a {
	font-weight: 800;
}

@media print {
	body {
		max-width: none
	}
}

@media (max-width: 54em) {
	#nav-toggle > svg, #nav-back > svg {
		background-color: #fffd;
		box-shadow: 0 0 4px #ddd;
		border-radius: 3px;
	}

	#nav-toggle.active > svg, #nav-back.active > svg {
		box-shadow: none;
	}
}
