{{ partial "head.html" . }}
<article class="post-list">
	<h1 id='top'>{{ .RelPermalink }}</h1>
	<hr>
	{{ range .Pages }}
		<div class='post'>
			<a href="{{ .RelPermalink }}">
				<h3 class='post-list-title'>{{ .Title }}</h3>
			</a>
			<div class='post-description'>
				<div class='tagline'>
					{{ .Description }}
				</div>
				<div class='post-info'>
				{{ .PublishDate.Format "January 2, 2006" }} | {{ .FuzzyWordCount }} words | {{ .ReadingTime }} minutes
				</div>
			</div>
		</div>
	{{ end }}
</article>
{{ partial "footer.html" . }}
