<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{{ .Site.Title }}</title>
		<link rel="icon" href="/img/favicon.img" />
		<link rel="stylesheet" type="text/css" href="https://unpkg.com/normalize.css@8.0.1/normalize.css" />

		<link rel="stylesheet" type="text/css" href="/css/style.css" />
	</head>
	<body>
		<div id='content-404'>
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			<a href={{ .Site.BaseURL }}>nope</a>
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
			nope
		</div>
		<footer id='social-links'>
			<ul>
				<text>find me at</text>
				{{ range .Site.Params.social }}
				<li><a href={{ .URL }}>{{ .name }}</a></li>
				{{ end }}
			</ul>
		</footer>
	</body>
</html>
